@model HomebrewRPG.Models.CharacterSheetModel

<div class="row container">

    <h2 class="padding">Character Sheet</h2>

    <h3>
        @Html.DisplayFor(modelItem => modelItem.CharacterDetail.CharacterName)
    </h3>

    <div class="tab-sheet">
        <button class="tablinks" onclick="openCity(event, 'character-tab')" id="defaultOpen">Character</button>
        <button class="tablinks" onclick="openCity(event, 'stats-tab')">Stats</button>
        <button class="tablinks" onclick="openCity(event, 'item-tab')">Items</button>
        <button class="tablinks" onclick="openCity(event, 'weapon-tab')">Weapons</button>
        <button class="tablinks" onclick="openCity(event, 'wardrobe-tab')">Wardobe</button>
    </div>

    <div id="character-tab" class="tabcontent row">
        <div class="col-md-4 col-sm-4 padding fancy-text">
            <label>
                @Html.DisplayNameFor(model => model.CharacterDetail.CharacterName)
            </label>
            <p>
                @Html.DisplayFor(modelItem => modelItem.CharacterDetail.CharacterLevel)
            </p>
            <label>
                @Html.DisplayNameFor(model => model.CharacterDetail.Age)
            </label>
            <p>
                @Html.DisplayFor(modelItem => modelItem.CharacterDetail.Age)
            </p>
            <label>
                @Html.DisplayNameFor(model => model.CharacterDetail.Allignment)
            </label>
            <p>
                @Html.DisplayFor(modelItem => modelItem.CharacterDetail.Allignment)
            </p>
            <label>
                @Html.DisplayNameFor(model => model.CharacterDetail.Gender)
            </label>
            <p>
                @Html.DisplayFor(modelItem => modelItem.CharacterDetail.Gender)
            </p>
        </div>
        <div class="col-md-4 col-sm-4 padding fancy-text">
            <label>
                @Html.DisplayNameFor(model => model.CharacterDetail.MagicType)
            </label>
            <p>
                @Html.DisplayFor(modelItem => modelItem.CharacterDetail.MagicType)
            </p>
            <label>
                @Html.DisplayNameFor(model => model.CharacterDetail.ProwessType)
            </label>
            <p>
                @Html.DisplayFor(modelItem => modelItem.CharacterDetail.ProwessType)
            </p>
        </div>
        <div class="col-md-4 col-sm-4">
            <img src="~/Images/FairyTale/png/039-orc.png" class="img-fluid hidden-xs" />
        </div>
    </div>

    <div id="stats-tab" class="tabcontent row">
        <div class="col-md-4 col-sm-6 col-xs-6 padding fancy-text">
            <h3><label>Essential Skills</label></h3>
            <label>
                @Html.DisplayNameFor(model => model.CharacterDetail.HitPoints)
            </label>
            <p>
                @Html.DisplayFor(modelItem => modelItem.CharacterDetail.HitPoints)
            </p>
            <label>
                @Html.DisplayNameFor(model => model.CharacterDetail.Sanity)
            </label>
            <p>
                @Html.DisplayFor(modelItem => modelItem.CharacterDetail.Sanity)
            </p>
            <label>
                @Html.DisplayNameFor(model => model.CharacterDetail.Dodge)
            </label>
            <p>
                @Html.DisplayFor(modelItem => modelItem.CharacterDetail.Dodge)
            </p>
            <label>
                @Html.DisplayNameFor(model => model.CharacterDetail.Reaction)
            </label>
            <p>
                @Html.DisplayFor(modelItem => modelItem.CharacterDetail.Reaction)
            </p>
            <label>
                @Html.DisplayNameFor(model => model.CharacterDetail.BaseProwess)
            </label>
            <p>
                @Html.DisplayFor(modelItem => modelItem.CharacterDetail.BaseProwess)
            </p>
            <label>
                @Html.DisplayNameFor(model => model.CharacterDetail.Magic)
            </label>
            <p>
                @Html.DisplayFor(modelItem => modelItem.CharacterDetail.Magic)
            </p>
            <label>
                @Html.DisplayNameFor(model => model.CharacterDetail.Fate)
            </label>
            <p>
                @Html.DisplayFor(modelItem => modelItem.CharacterDetail.Fate)
            </p>
            <label>
                @Html.DisplayNameFor(model => model.CharacterDetail.Speed)
            </label>
            <p>
                @Html.DisplayFor(modelItem => modelItem.CharacterDetail.Speed)
            </p>
            <a href='@Url.Action("Edit", "Character", new { id = Model.CharacterDetail.CharacterId })' class="btn btn-primary btn-lg">Edit Stats</a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 padding fancy-text">
            <label class="padding">
                Current Health:
            </label>
            <p>
                <input />
            </p>
            <label>
                Current Sanity:
            </label>
            <p>
                <input />
            </p>
            <hr />
            <h3><label>Core Stats</label></h3>
            <label>
                @Html.DisplayNameFor(model => model.CharacterDetail.Health)
            </label>
            <p>
                @Html.DisplayFor(modelItem => modelItem.CharacterDetail.Health)
            </p>
            <label>
                @Html.DisplayNameFor(model => model.CharacterDetail.Strength)
            </label>
            <p>
                @Html.DisplayFor(modelItem => modelItem.CharacterDetail.Strength)
            </p>
            <label>
                @Html.DisplayNameFor(model => model.CharacterDetail.Instinct)
            </label>
            <p>
                @Html.DisplayFor(modelItem => modelItem.CharacterDetail.Instinct)
            </p>
            <label>
                @Html.DisplayNameFor(model => model.CharacterDetail.Agility)
            </label>
            <p>
                @Html.DisplayFor(modelItem => modelItem.CharacterDetail.Agility)
            </p>
            <label>
                @Html.DisplayNameFor(model => model.CharacterDetail.Intelligence)
            </label>
            <p>
                @Html.DisplayFor(modelItem => modelItem.CharacterDetail.Intelligence)
            </p>
            <label>
                @Html.DisplayNameFor(model => model.CharacterDetail.Charisma)
            </label>
            <p>
                @Html.DisplayFor(modelItem => modelItem.CharacterDetail.Charisma)
            </p>
        </div>
        <div class="col-md-4 col-sm-4">
            <img src="~/Images/FairyTale/png/009-standard.png" class="img-fluid hidden-xs hidden-sm" />
        </div>
    </div>


    <div id="item-tab" class="tabcontent">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                @foreach (var item in Model.Items)
                {
                    <div class="row">
                        <div class="col-md-6 padding fancy-text">
                            <label>
                                @Html.DisplayNameFor(modelItem => item.ItemName)
                            </label>
                            <p>
                                @Html.DisplayFor(modelItem => item.ItemName)
                            </p>
                            <label>
                                @Html.DisplayNameFor(modelItem => item.ItemDescription)
                            </label>
                            <p>
                                @Html.DisplayFor(modelItem => item.ItemDescription)
                            </p>
                        </div>
                        <div class="col-md-6 padding fancy-text">
                            <label>
                                @Html.DisplayNameFor(modelItem => item.Quantity)
                            </label>
                            <p>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </p>
                        </div>
                    </div>
                    <hr />
                }
            </div>
            <div class="col-md-4 col-sm-4">
                <img src="~/Images/FairyTale/png/042-crystal.png" class="img-fluid hidden-xs  hidden-sm" />
            </div>
        </div>
        <div class="row">
            <a href='@Url.Action("Create", "CharacterItem")' class="btn btn-primary btn-lg">Add Item</a>
        </div>
    </div>


    <div id="weapon-tab" class="tabcontent">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                @foreach (var item in Model.Weapons)
                {
                    <div class="row">
                        <div class="col-md-6 padding fancy-text">
                            <label>
                                @Html.DisplayNameFor(modelItem => item.WeaponName)
                            </label>
                            <p>
                                @Html.DisplayFor(modelItem => item.WeaponName)
                            </p>
                            <label>
                                @Html.DisplayNameFor(modelItem => item.DamageDice)
                            </label>
                            <p>
                                @Html.DisplayFor(modelItem => item.DamageDice)
                            </p>
                            <label>
                                @Html.DisplayNameFor(modelItem => item.Range)
                            </label>
                            <p>
                                @Html.DisplayFor(modelItem => item.Range)
                            </p>
                            <label>
                                @Html.DisplayNameFor(modelItem => item.Description)
                            </label>
                            <p>
                                @Html.DisplayFor(modelItem => item.Description)
                            </p>
                        </div>
                        <div class="col-md-6 padding fancy-text">

                            <label>
                                @Html.DisplayNameFor(modelItem => item.WeaponType)
                            </label>
                            <p>
                                @Html.DisplayFor(modelItem => item.WeaponType)
                            </p>
                            <label>
                                @Html.DisplayNameFor(modelItem => item.DamageModifier)
                            </label>
                            <p>
                                @Html.DisplayFor(modelItem => item.DamageModifier)
                            </p>
                            <label>
                                @Html.DisplayNameFor(modelItem => item.CriticalRange)
                            </label>
                            <p>
                                @Html.DisplayFor(modelItem => item.CriticalRange)
                            </p>
                            <label>
                                @Html.DisplayNameFor(modelItem => item.Special)
                            </label>
                            <p>
                                @Html.DisplayFor(modelItem => item.Special)
                            </p>
                        </div>
                    </div>
                    <hr />
                }
            </div>
            <div class="col-md-4 col-sm-4">
                <img src="~/Images/FairyTale/png/031-axe.png" class="img-fluid hidden-xs hidden-sm" />
            </div>
        </div>
        <div class="row">
            <a href='@Url.Action("Create", "CharacterWeapon")' class="btn btn-primary btn-lg">Add Weapon</a>
        </div>
    </div>

    <div id="wardrobe-tab" class="tabcontent">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                @foreach (var item in Model.WardrobeItems)
                {
                    <div class="row">
                        <div class="col-md-6 padding fancy-text">
                            <label>
                                @Html.DisplayNameFor(modelItem => item.ArmorName)
                            </label>
                            <p>
                                @Html.DisplayFor(modelItem => item.ArmorName)
                            </p>
                            <label>
                                @Html.DisplayNameFor(modelItem => item.ArmorType)
                            </label>
                            <p>
                                @Html.DisplayFor(modelItem => item.ArmorType)
                            </p>
                            <label>
                                @Html.DisplayNameFor(modelItem => item.Description)
                            </label>
                            <p>
                                @Html.DisplayFor(modelItem => item.Description)
                            </p>
                        </div>
                        <div class="col-md-6 padding fancy-text">

                            <label>
                                @Html.DisplayNameFor(modelItem => item.PhysicalResistance)
                            </label>
                            <p>
                                @Html.DisplayFor(modelItem => item.PhysicalResistance)
                            </p>
                            <label>
                                @Html.DisplayNameFor(modelItem => item.MagicalResistance)
                            </label>
                            <p>
                                @Html.DisplayFor(modelItem => item.MagicalResistance)
                            </p>
                            <label>
                                @Html.DisplayNameFor(modelItem => item.Special)
                            </label>
                            <p>
                                @Html.DisplayFor(modelItem => item.Special)
                            </p>
                        </div>
                    </div>
                    <hr />
                }
            </div>
            <div class="col-md-4 col-sm-4">
                <img src="~/Images/FairyTale/png/045-armor.png" class="img-fluid hidden-xs hidden-sm" />
            </div>
        </div>
        <div class="row">
            <a href='@Url.Action("Create", "CharacterWardrobe")' class="btn btn-primary btn-lg">Add Apparel</a>
        </div>
    </div>
</div>
<script>
    document.getElementById("defaultOpen").click();
    function openCity(evt, cityName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>
