@model IEnumerable<HomebrewRPG.Models.CharacterListItem>

@{
    ViewBag.Title = "Index";
}

<div class="row padding">

    <div class="col-sm-12 col-md-6 col-md-offset-2 text-center">

        <h2>Your Characters</h2>
        <h3>Which character would you like to select?</h3>



        @foreach (var item in Model)
        {
            <div class="container-fluid padding">
                <div class="row">
                    <div class="card">
                        <div class="row">

                            <div class="col-xs-9">
                                <div class="row">
                                    <div class="col-xs-6">
                                    <h4>@Html.DisplayFor(modelItem => item.CharacterName)</h4>

                                    </div>
                                </div>
                                    <div class="row padding">
                                        <div class="col-xs-6">
                                            <p class="fancy-text">
                                                @Html.DisplayNameFor(model => model.Race):
                                                @Html.DisplayFor(modelItem => item.Race)
                                            </p>
                                        </div>
                                        <div class="col-xs-6">
                                            <p class="fancy-text">
                                                @Html.DisplayNameFor(model => model.CharacterLevel):
                                                @Html.DisplayFor(modelItem => item.CharacterLevel)
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            <div class="col-xs-3">
                                <a href='@Url.Action("Delete", "Character", new { id = item.CharacterId })'><i class="fa fa-trash fa-lg"></i></a>
                            </div>
                            </div>
                        <a href='@Url.Action("CharacterSheet", "Character", new { id = item.CharacterId })' class="btn btn-primary btn-lg">Select</a>
                    </div>
                </div>
            </div>
        }
        <div class="row padding">
            <a href='@Url.Action("Create", "Character")' class="btn btn-primary btn-lg">Create New</a>
        </div>
    </div>
</div>
@*

    @Html.ActionLink("Details", "Details", new { id = item.CharacterId }) |
    @Html.ActionLink("Delete", "Delete", new { id = item.CharacterId })
    @Html.ActionLink("Character Sheet", "CharacterSheet", new { id = item.CharacterId })
*@