@model HomebrewRPG.Models.CharacterWeaponModels.CharacterWeaponEdit

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CharacterWeaponId)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CharacterId)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.WeaponId)
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.IsEquipped, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsEquipped, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IsEquipped, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-offset-2 col-md-4 padding">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
                <div class="col-md-6 padding">
                    <a href='@Url.Action("Delete", "CharacterWeapon", new { id = Model.CharacterWeaponId })'><i class="fa fa-trash fa-lg"></i></a>
                </div>
            </div>
        </div>
    </div>
}

<div class="row padding">
    <a href='@Url.Action("CharacterSheet", "Character", new { id = Model.CharacterId })' class="btn btn-default btn-sm">Back to Character</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
