@model IEnumerable<HomebrewRPG.Models.WardrobeItemModels.WardrobeListItem>

@{
    ViewBag.Title = "Index";
}

<div class="row padding">

    <div class="col-sm-12 col-md-6 col-md-offset-2 text-center">

        <h2>Apparel List</h2>
        <h3>What would you like to select?</h3>



        @foreach (var item in Model)
        {
            <div class="container-fluid padding">
                <div class="row">
                    <div class="card">
                        <div class="row">

                            <div class="col-xs-9">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <h4>@Html.DisplayFor(modelItem => item.ArmorName)</h4>

                                    </div>
                                </div>
                                <div class="row padding">
                                    <div class="col-xs-6">
                                        <p class="fancy-text">
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </p>
                                    </div>
                                    <div class="col-xs-6">
                                        <p class="fancy-text">
                                            @Html.DisplayNameFor(model => model.ArmorType):
                                            @Html.DisplayFor(modelItem => item.ArmorType)
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <a href='@Url.Action("Delete", "WardrobeItem", new { id = item.WardobeItemId })'><i class="fa fa-trash fa-lg"></i></a>
                            </div>
                            <div class="col-xs-3 padding">
                                <a href='@Url.Action("Edit", "WardrobeItem", new { id = item.WardobeItemId })'><i class="fas fa-edit fa-lg"></i></a>
                            </div>
                        </div>
                        <a href='@Url.Action("Details", "WardrobeItem", new { id = item.WardobeItemId })' class="btn btn-primary btn-lg">Select</a>
                    </div>
                </div>
            </div>
        }
        <div class="row padding">
            <a href='@Url.Action("Create", "WardrobeItem")' class="btn btn-primary btn-lg">Create New</a>
        </div>
    </div>
</div>