@model HomebrewRPG.Models.SpellModels.SpellDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="row">
    <div class="col-md-6 padding fancy-text">
        <label>
            @Html.DisplayNameFor(modelItem => modelItem.SpellName)
        </label>
        <p>
            @Html.DisplayFor(modelItem => modelItem.SpellName)
        </p>
        <label>
            @Html.DisplayNameFor(modelItem => modelItem.SpellEffect)
        </label>
        <p>
            @Html.DisplayFor(modelItem => modelItem.SpellEffect)
        </p>
        <label>
            @Html.DisplayNameFor(modelItem => modelItem.SpellType)
        </label>
        <p>
            @Html.DisplayFor(modelItem => modelItem.SpellType)
        </p>
    </div>
    <div class="col-md-6 padding fancy-text">
        <label>
            @Html.DisplayNameFor(modelItem => modelItem.SpellDescription)
        </label>
        <p>
            @Html.DisplayFor(modelItem => modelItem.SpellDescription)
        </p>
        <label>
            @Html.DisplayNameFor(modelItem => modelItem.SpellDC)
        </label>
        <p>
            @Html.DisplayFor(modelItem => modelItem.SpellDC)
        </p>
        <label>
            @Html.DisplayNameFor(modelItem => modelItem.Range)
        </label>
        <p>
            @Html.DisplayFor(modelItem => modelItem.Range)
        </p>
    </div>
</div>
<hr />
<p>
    <a href='@Url.Action("Index", "Spell")' class="btn btn-primary btn-lg">Back to List</a>
</p>
