@model HomebrewRPG.Models.EssentialSkillsModels.EssentialSkillsDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EssentialSkillsDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EssentialSkillsId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EssentialSkillsId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HitPoints)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HitPoints)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sanity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sanity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dodge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dodge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reaction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reaction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseProwess)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseProwess)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Magic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Magic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Speed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Speed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endurance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endurance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Constitution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Constitution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Athletics)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Athletics)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tenacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tenacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acrobatics)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acrobatics)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SleightOfHand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SleightOfHand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sneak)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sneak)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Willpower)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Willpower)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Investigation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Investigation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Knowledge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Knowledge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bravery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bravery)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pilotry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pilotry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Insight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Insight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Perception)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Perception)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Survival)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Survival)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Faith)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faith)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deception)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deception)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diplomacy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diplomacy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Intimidation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intimidation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Performance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Performance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seduction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seduction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DamageResistance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DamageResistance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MagicResistance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MagicResistance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
