@model IEnumerable<HomebrewRPG.Models.EssentialSkillsModels.EssentialSkillsList>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EssentialSkillsId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CharacterId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EssentialSkillsId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CharacterId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EssentialSkillsId }) |
            @Html.ActionLink("Details", "Details", new { id = item.EssentialSkillsId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.EssentialSkillsId })
        </td>
    </tr>
}

</table>
